
.main-right
{
    /* 如果有剩余空间，他将占据剩余空间 */
    flex: 1;
    padding: 10px;
    height: 610px;
    overflow: hidden auto;

    /* 被设置固定定位的元素是不占位置的 */

}
.title
{
    font-size: 20px;
    font-weight: bolder;
}
.modify
{

    display: flex;
    width: 100%;
    height: 100%;


}
.modify .modify-field
{
    height: 50px;
    width: 600px;

}
.part
{
    display: flex;
    margin-top: 20px;
}
.name-content
{
    height: 25px;
    width: 500px;
    border-radius: 5px;
}
.birthday-content
{
    width: 200px;
    height: 30px;
    border-radius: 5px;
}
.introduction-content
{
    height: 150px;
    width: 500px;
    border-radius: 5px;
}
.part-header
{
    margin-right: 15px;
}
.modify-image
{
    overflow: hidden;
    width: 200px;
    height: 400px;
    margin-left: 150px;
    margin-top: 20px;
}
.modify-image img
{
    width: 200px;
    height: 200px;
}
.submit-button
{
    margin-left: 150px;
    height: 30px;
    width: 70px;
    line-height: 30px;
    background: #3DC07D;
    border-radius: 20px;
    cursor: pointer;
}
.cancel-button
{
    border: #333333 solid;
    height: 28px;
    width: 70px;
    border-radius: 20px;
    margin-left: 100px;
    line-height: 28px;
    cursor: pointer;

}
.modify-field .button
{
    margin-top: 80px;

}
.woman
{
    margin-left: 50px;
}
.modify-button
{
    height: 30px;
    line-height: 30px;
    width: 100px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 20px;
    border: #333333 solid;
    cursor: pointer;
}
.choose-image
{
    display: none;
}
