.main-right
{
    /* 如果有剩余空间，他将占据剩余空间 */
    flex: 1;
    padding: 10px;
    height: 610px;
    overflow: auto;
    display: flex;

    /* 被设置固定定位的元素是不占位置的 */

}
.choose-song
{
    height: 30px;
    width: 80px;
    margin-left:20px ;

    border: #7c8892 solid 1px;
    border-radius:20px;
}
.identify-button
{
    height: 30px;
    width: 50px;
    background: #3DC07D;
    margin-right: 100px;
    border-radius:20px;
}
.identify-cancel
{
    height: 30px;
    width: 50px;
    margin-right: 100px;
    border-radius:20px;
    border: #7c8892 solid 1px;
}
.identify span
{
    font-size: 15px;
    font-family: 'YouYuan';

}
.identify
{
    margin: 20px 20px;
    margin-left: 80px;
    margin-top: 60px;
    width: 600px;
    height: 30px;
    line-height: 30px;
}
.main-right img
{
    margin-left: 100px;
    margin-top: 300px;

    width: 300px;
}
