/* 左侧导航栏 */
.main-left
{
    width: 200px;
    height: 630px;


}

.item-left
{
    position: fixed;
    background: linear-gradient(rgba(189, 217, 181, 0.23),#FFFFFF);
    width: 200px;
    height: 630px;

}
.item-left ul
{
    margin-left: 15px;
}
.music-title
{
    padding: 8px 0px;
    color: #a59c9c;
    font-size: 13px;
    margin-left: 10px;

}
.main-left-subnav li
{

    line-height: 40px;
    width: 220px;

}
.main-left-subnav li a
{
    display: block;
    width: 127px;
    border-radius: 10px;
}
.main-left-subnav li i
{
    padding-right: 5px;
}
.main-left a:hover
{
    background-color: #43929e;
    color: #fff;
}