
.main-right
{
    /* 如果有剩余空间，他将占据剩余空间 */
    flex: 1;
    padding: 10px;
    height: 610px;
    overflow: auto;
    /* 被设置固定定位的元素是不占位置的 */

}
/* 歌单推荐 */
.main-right-hot h4
{
    font-size: 20px;

}
.main-right-hot ul
{
    display: flex;
    justify-content: space-between;
}
.main-right-hot ul li
{
   flex-basis: 18% ;
   position: relative;
   margin-bottom: 20px;
}
.main-right-hot ul li img
{
    margin-bottom:10px ;
    height: 180px;
    width: 180px;
}
.hot_play
{
    position: absolute;
    background: url(../img/musicplaycopy.png) no-repeat;
    top: 20px;
    left: 20px;
    width: 100%;
    height: 100%;
    transform: scale(0.4);
    display: none;
}
.main-right-hot ul li img:hover
{
    display: block;
    transform: scale(1.1);
}
.main-right-hot ul li:hover .hot_play
{
    display: block;
}
