
.main-right
{
    /* 如果有剩余空间，他将占据剩余空间 */
    flex: 1;
    padding: 10px;
    height: 610px;
    overflow: auto;

    /* 被设置固定定位的元素是不占位置的 */

}
.main-right .introduction
{
    display: flex;

}
.main-right .introduction img
{
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius:50%;
    overflow: hidden;
}
.modify-name
{
    margin-bottom: 10px;
    display: flex;
}
.status
{
    width: 30px;
    height: 20px;
    margin-right: 5px;
    border-radius: 5px;
    background: #d0d5ca;


}
.modify-image
{
    height: 60px;
    width: 60px;
}

.edit
{

    margin-left: 650px;
    width: 90px;
    line-height: 30px;
    border-radius: 20px;
    background: #dce7ec;
    padding:1px 2px;
}
.concern
{
    display: flex;
}
.concern .concern-block
{
  margin: 10px 20px;
}
.tagcount
{
    font-size: 20px;
}
.tagname
{
    font-size: 14px;
}
.content-first
{
    height: 70px;
    display: flex;
    flex: 1;

}
.content-first div img
{
    height: 60px;
    width: 60px;
    margin: 10px 5px;
}
.content-first .accumulatelisten
{
    font-size: 10px;
    margin-top: 20px;
    margin-left: 350px;
    color: #7c8892;
}
.ranklisten
{
    margin-top: 30px;
}
.format-header
{
    display: flex;
}
.format-part
{
    margin: 0 20px;
    position: relative;
}
.format-part:hover::before
{
    transform: scale(1);

}
.format-part::before
{
    /*这里还不是很理解*/
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    background: #3DC07D;
    bottom: -5px;
    left: 0;
    transform: scale(0);
    transition: all 0.5s;



}
.sx
{
    background: #dff1ff;
    height: 50px;
    width: 2px;
}
.name-block
{
    margin-left: 30px;
    margin-top: 30px;
}
.split
{
    width: 60vw;
    height: 2px;
    margin-bottom: 10px;
    background: #bcd4bb;
}
.nickname
{
    font-size: 20px;
    margin-bottom: 10px;
    /*超过就变成点，没有设置*/
    overflow: hidden;
    font-weight: bolder;

}
.concern
{
    display: flex;
}
