
.main-right
{
    /* 如果有剩余空间，他将占据剩余空间 */
    flex: 1;
    padding: 10px;
    height: 610px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    /* 被设置固定定位的元素是不占位置的 */

}
.brief-introduction .information-author
{
    height: 30px;
}
.brief-introduction .information-author img
{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    margin: 10px 5px;
    margin-bottom: 0;

}
.brief-introduction .title
{
    height: 23px;
    line-height: 23px;
}
.brief-introduction
{
    margin-top: 30px;

}
.label
{
    border: #3DC07D solid 1px;
    color: #3DC07D;
    border-radius: 20%;

}
.avatar
{
    height: 200px;
    width: 200px;
    margin: 30px;

}
