
.main-right
{
    /* 如果有剩余空间，他将占据剩余空间 */
    flex: 1;
    padding: 10px;
    height: 610px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(rgba(144, 142, 208, 0.51),#FFFFFF);
    /* 被设置固定定位的元素是不占位置的 */

}

.main-right .active-outer
{
    margin-left: 110px;
    width:380px ;
    height: 380px;
    background: rgba(139, 150, 158, 0.49);
    border-radius: 200px;
    position:relative;

}
.active-picture
{
    width: 340px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    background: black;
    position: absolute;
    top: 20px;
    left: 20px;

}
#song
{
    position: relative;
}
.song-roll
{

    overflow-y:scroll;
    height: 450px;
    width: 400px;
    margin-top: 50px;
    margin-left: 100px;

}
.split-border
{
    position: absolute;
    bottom: 340px;
    height: 20px;
    width: 400px;
    left: 100px;
    display: none;
    background: rgba(159, 177, 197, 0.16);
    box-shadow: 0 0 10px 10px  rgba(159, 177, 197, 0.16);
}

.song-title
{
    margin-left: 200px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 20px;

}
.song-main
{
    list-style: none;

}

.song-outer
{
    width: 485px;
    overflow-x:hidden;
    margin-left: 50px;
}

.active-image
{
    animation: rotation 7s infinite linear;
    height: 250px;
    width: 250px;
    border-radius:190px ;
}
.big-circle
{
    background: #dff1ff;
    height: 20px;
    width: 20px;
    border-radius:20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 270px;
    margin-top: 20px;
    position: relative;
    margin-bottom: 80px;



}
.small-circle
{
    background: white;
    height: 15px;
    width: 15px;
    border-radius: 20px;
    margin: 1px auto;

}
.part-connect
{
    position: relative;
}
.stick
{
    top: 10px;
    left: 25px;
    margin-left: 250px;
    position: absolute;
    border-radius: 10px;
    height: 120px;
    width: 8px;
    background: white;
    z-index: 2;
    animation: rotate 3s linear infinite;
    transform-origin:top ;
    /*transform: rotate(-90deg);*/

}

.qi
{

    color: white;
    position: absolute;
    top:115px;
    left: -3px;
    transform: scale(1.5);
    z-index: 2;
}
@keyframes rotation
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }

}
.comment-title
{
    font-size: 13px;
    font-family: 'YouYuan';
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 20px;


}
.comment-main
{

    width: 700px;
    margin-left: 20px;
    padding: 10px;
    border: rgba(155, 179, 149, 0.45) solid 1px;

}

.content-decoration
{
    display: flex;
    position: relative;
}
.comment-time
{
    font-size: 13px;
    color: #a6b0ba;
    margin-top: 10px;
    margin-right: 520px;
    margin-left: 20px;
}
.content-part
{
    display: flex;
    margin-left: 20px;

}
.content-part img
{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;

}
.comment-reply
{
    color: #8e9aa7;
    position: absolute;
    height: 16px;
    bottom: 0;
    right: 0;
}

