
.main-right
{
    /* 如果有剩余空间，他将占据剩余空间 */
    flex: 1;
    padding: 10px;
    height: 610px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    background: linear-gradient(rgba(162, 213, 140, 0.55),#FFFFFF);
    /* 被设置固定定位的元素是不占位置的 */

}

.main-right .active-outer
{
    margin-left: 110px;
    width:310px ;
    height: 310px;
    background: rgba(139, 150, 158, 0.49);
    border-radius: 200px;
    position:relative;

}
.active-picture
{
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    background: black;
    position: absolute;
    top: 15px;
    left: 15px;

}
#song
{
    position: relative;
}
.song-roll
{

    overflow-y:scroll;
    height: 450px;
    width: 400px;
    margin-top: 50px;
    margin-left: 100px;

}
.split-border
{
    position: absolute;
    bottom: 310px;
    height: 20px;
    width: 400px;
    margin-left: 80px;
    left: 95px;
    display: none;


}

.song-title
{
    margin-left: 240px;
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 20px;
    font-family: 'YouYuan';

}
.song-main
{
    list-style: none;
    font-family: 'YouYuan';

}

.song-outer
{
    width: 485px;
    overflow-x:hidden;
    margin-left: 100px;
    font-size: 16px;
}

.active-image
{
    animation: rotation 7s infinite linear;
    height: 200px;
    width: 200px;
    border-radius:190px ;
}

@keyframes rotation {
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(359deg);
    }
}
.big-circle
{
    background: #dff1ff;
    height: 20px;
    width: 20px;
    border-radius:20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 270px;
    margin-top: 20px;
    position: relative;
    margin-bottom: 80px;

}
.rotateCircle {
    transform: rotate(90deg);
    transition: transform 1s;
}


.small-circle
{
    background: white;
    height: 15px;
    width: 15px;
    border-radius: 20px;
    margin: 1px auto;

}
.part-connect
{
    position: relative;
}
.stick
{
    top: 10px;
    left: 25px;
    margin-left: 250px;
    position: absolute;
    border-radius: 10px;
    height: 120px;
    width: 8px;
    background: white;
    z-index: 2;
    transform-origin:top ;
    /*transform: rotate(-90deg);*/

}

.qi
{

    color: white;
    position: absolute;
    top:115px;
    left: -3px;
    transform: scale(1.5);
    z-index: 2;
}

.comment
{
    margin-left: 50px;
}
.comment-title
{
    font-size: 13px;
    font-family: 'YouYuan';
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 10px;



}
.comment-main
{

    width: 900px;
    margin-left: 20px;
    padding: 10px;


}
.comment-author input
{

    width: 1000px;
    padding: 10px;
    border: rgba(155, 179, 149, 0.45) solid 1px;
    outline: none;

}
.broadcast-comment
{
    color: rgba(130, 168, 146, 0.67);
    position: absolute;
    right: 4px;
    top: 7px;
    cursor: pointer;
}
.comment-author
{
    position: relative;
}
.comment-pop
{
    position: absolute;
    top: 300px;
    left: 500px;
    /*display: none;*/

    z-index: 3;

}
.pop-content
{
    height: 200px;
    width: 400px;
    outline: none;
}
.pop-button
{
    position: absolute;
    bottom: 15px;
    right: 11px;
    color: #bcd4bb;
    cursor: pointer;

}


.content-decoration
{
    display: flex;
    position: relative;
}
.comment-time-second
{
    font-size: 13px;
    color: #a6b0ba;
    margin-top: 10px;
    margin-right: 520px;
    margin-left: 50px;
}
.comment-time
{
    font-size: 13px;
    color: #a6b0ba;
    margin-top: 10px;
    margin-right: 520px;
    margin-left: 20px;
}
.content-part
{
    display: flex;
    margin-left: 20px;

}
.content-part-second
{
    display: flex;
    margin-left: 50px;
}

.content-part img
{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;

}
.content-part-second img
{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;

}

.comment-reply
{
    color: #8e9aa7;
    position: absolute;
    height: 16px;
    bottom: 0;
    right: 0;
    cursor: pointer;
}
.comment-shrink
{
    color: #8e9aa7;
    position: absolute;
    height: 16px;
    bottom: 0;
    right: 20px;
    cursor: pointer;
}
#netName
{
    color: #5a9070;
}
.content-replyOwner
{
    color: #8e9aa7;
    font-size: 14px;

}

